[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
fastapi = "*"
httpx = "*"
vadersentiment = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
openai = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
